<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Begin page index opened !!! Menu products :</h1>
    <p>
    <td>
        <a href="products">add product page</a>
    </td>
    <p>
    <td>
        <a href="products/deleteproduct">deleteproduct open page</a>
    </td>
    <p>
    <td>
        <a href="simple">open html simple</a>
    </td>
    <p>
    <td>
        <a href="products/addeditproduct">Add or edit product element</a>
    </td>
    <p>
    <td>
        <a href="products/filtr">Filtr product element</a>
    </td>
</body>
</html>